{% extends 'base.html' %}
{% block title %}Vragenlijst{% endblock %}
{% block content %}
<img src="/static/images/miniiScout_logo_blackOnTransparant.png">
<h1>Vragenlijst</h1>
<p>Aantal goed beantwoorde vragen: <b>{{ answered|length }}</b></p>
<p><a href="/">Hoofdpagina</a></p>
<table>
    {% for q in questions %}
    <tr><td>{{ loop.index }}.</td><td><a href="{{ url_for('map_page', questionhash=q.hashed_title) }}">{{q.title}}</a></td><td>{% if q.hashed_title in answered %}<img src="/static/images/checked.png" height="16" width="16">{% endif %}</td></tr>
    {% endfor %}
</table>
{% endblock %}
