{% extends 'base.html' %}
{% block title %}Vragenlijst{% endblock %}
{% block content %}
<h1>Vragenlijst</h1>
<p>Aantal goed beantwoorde vragen: <b>{{ answered|length }}</b></p>
<script>console.log({{ answered }})</script>
<p><a href="/">Hoofdpagina</a></p>
<ol>
    {% for q in questions %}
    <li><a href="{{ url_for('map_page', questionnumber=loop.index) }}">{{q.title}}</a>{% if loop.index in answered %}&nbsp;&nbsp;<img src="/static/checked.png" height="16" width="16">{% endif %}</li>
    {% endfor %}
</ol>
{% endblock %}
